* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.Hire-Me-section {
    min-height: 80vh;
    background-image: url("../images//HireMe1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hireme-text-section {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}